header{
    display: flex;
    justify-content: center;
    gap: 15rem;
    background: linear-gradient(to bottom,rgb(33, 2, 172),rgb(81, 253, 158),rgb(80, 1, 153));
    height: 80px;
    margin: 0;
    align-items: center;
}
header img{
    height: 80px;
    width: 120px;
}
a{
  text-decoration: none;
  font-size: 25px;
  color: black;
  margin: 0;
  box-shadow: 2px 2px 5px 1px rgb(215, 252, 6);
  border-radius: 15px;
  text-transform: uppercase;
}
a:hover{
    transform: scale(1.2);
    color: azure;
    background: linear-gradient(to bottom,rgb(132, 2, 172),rgb(207, 253, 81),rgb(153, 1, 153));
}
.block{
    background:rgb(228, 236, 236);
    height: 120vh;
    margin: 0;
    background-image: url(../src/img/section.jpg);
    width: 100%;
}
.block h1{
text-align: center;
text-transform: uppercase;
padding-top: 80px;
margin: 0;
color: azure;
}